<!-- pageTwo = """ -->

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Waiting Room</title>

        <style>
            body {background-color: #8c92ac;;}
            li   {color: #022658;}
            p    {color: #ffffffc9;}
        </style>
    </head>

    <body>
        <p>
            <strong>Players:</strong>
        </p>
        
        <div id="list">
            {% block body %}
            {% endblock body %}
        </div>
        <p>
  
            <Strong>How to Play:</Strong>
                <br><br>
                <ol>
                    <li>On their turn a player will play a card by pressing the "play card" button</li>
                    <li>If the card played matches the card rank displayed slap the card using the "slap card" button as quickly as possible</li>
                    <li>The player who slaps the card last adds the entire stack to their hand</li>
                    <li>If a player slaps the card when the card played and the displayed rank do not match they take the entire stack</li>
                </ol>

          <Strong>To Win:</Strong>
                <br><br>
                <ol>
                    <li>Once your hand is empty be the first to slap the deck when appropriate to win the game</li>
                </ol>
        </p>

            <br><br><br>

            <h1>
                <button type="button" title="Start game once all players are in">
                    <strong>Start Game</strong>
                </button>
            </h1>
    </body>


    <script>
        const source = new EventSource("/player-list-stream");

        source.onmessage = (event) => {
            document.getElementById("list").innerHTML = event.data;
        };
    </script>

</html> 

<!--"""-->