<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Waiting Room</title>

        <!-- <link rel="icon" type="image/png" sizes="32x32" href="./card.png"> -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='card.png') }}">

        <!-- <link rel="stylesheet" href="card_styles.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='card_styles.css') }}">

    </head>

    <body>
        <header>
            <h1>Heart Attack</h1>
            <p class="site-subtitle">by Scrumptious Bytes</p>
        </header>

        <!-- Removed nav section because it is not needed on the home page since there are no useful pages to navigate to at this time.
        <nav>
            <ul>
                <li><a href="page_1.html">Home</a></li>
                <li><a href="page_3.html">Walkthroughs</a></li> page_3.html reserved for game, chage if used in future change
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav> 
        -->

        <main>
            <article>
                <section class="panel">
                    <h2>Players:</h2>
                        <div id="waiting-list">
                            <ul>
                                {% for player in player_list %}
                                    <li>{{ player.name}}</li>
                                {% endfor %}
                            </ul>
                        </div> <!-- Dynamic section of List to be replaced on player joining -->
                </section>

                <section class="panel">
                    <h2>Starting the Game:</h2>
                        <p class="panel-content">Once all players have joined the waiting room, the "Start Game" button will become active. The first player to click the "Start Game" button will start the game for all players.</p>
                    <div class="action-zone">
                        <button type="button" id="start-btn" class="button button-primary button-large" onclick="start_game()">Start Game</button>
                        <!-- <a href="{{ url_for('start_game') }}" class="button button-primary button-large">Start Game</a> -->
                        <!-- <a href="{{ url_for('game') }}" id="start-btn"><button>Start Game</button></a> -->
                    </div>
                </section>
            </article>

            <aside>
                <div class="tab">Rules</div>

                <div class="aside-content">
                    <h3>How to Play:</h3>
                    <ol>
                        <li>On their turn a player will play a card by pressing the "play card" button</li>
                        <li>If the card played matches the card rank displayed slap the card using the "slap card" button as quickly as possible</li>
                        <li>The player who slaps the card last adds the entire stack to their hand</li>
                        <li>If a player slaps the card when the card played and the displayed rank do not match they take the entire stack</li>
                    </ol>
                    <h3>How to Win:</h3>
                        <p>Once your hand is empty be the first to slap the deck when appropriate to win the game.</p>
                </div>
            </aside>
            
        </main>

        <footer id="footer">
            <small>E-mail: <a href="mailto:ScrumptiousBytes2026@gmail.com">ScrumptiousBytes2026@gmail.com</a></small>
            <small>&copy; ScrumptiousBytes 2026</small>
        </footer>

        <script>
            const source = new EventSource("/player-list-stream");
            const gameStartSource = new EventSource("/game-start-stream");
            
            source.onmessage = (event) => {
                document.getElementById("waiting-list").innerHTML = event.data;
            };

            gameStartSource.onmessage = (event) => {
                if (event.data === "start"){
                    window.location.href = "{{ url_for('game') }}";
                }
            };

            gameStartSource.onerror = function() {
                console.error("Game start stream error");
                gameStartSource.close();
            };

            function play_sound(effect) {
                const player = document.getElementById("sfx");
                player.src = `/static/sfx/${effect}`
                player.currentTime = 0;
                player.play();
            }

            function start_game() {
                play_sound('wii_sports.mp3');
                setTimeout(() => { //DELAY SO SOUND CAN PLAY
                    window.location.href = "{{ url_for('game') }}";
                }, 4000);
            }
        </script>

        <audio id="sfx" preload="auto" src="{{ url_for('static', filename='sfx/wii_sports.mp3') }}"></audio>
    </body>
</html>