<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Attack!</title>
</head>
<body>

    <!-- display the current rank of the global card counter -->
    <p>Current Sequence: {{ rank }}</p>

    <!-- display current player's name -->
    <p>Current Player: {{ current_player }}</p>

    <!-- display the current card that was last played -->
    <pre>{{ card }}</pre>

    <form method="POST">
        <button type="submit">Play Card</button>
    </form>

</body>
</html>