<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heart Attack</title>
        
        <!-- <link rel="icon" type="image/png" sizes="32x32" href="./card.png"> -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='card.png') }}">

        <!-- <link rel="stylesheet" href="card_styles.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='card_styles.css') }}">

    </head>
    <body>
        <header>
            <h1>Heart Attack</h1>
            <p class="site-subtitle">by Scrumptious Bytes</p>
        </header>
        <!-- Removed nav section because it is not needed on the home page since there are no useful pages to navigate to at this time.
        <nav>
            <ul>
                <li><a href="page_1.html">Home</a></li>
                <li><a href="page_3.html">Walkthroughs</a></li> page_3.html reserved for game, would need to be changed and/or removed in future
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav>         -->
        <main>
            <article>
                <div id="Quotation">
                        <q>Fast hands, faster brains, and zero hesitation.</q>
                        <cite>The Internet</cite>
                </div>

                <h2>Heart Attack</h2>
                
                <section class="intro-text">
                    <p>Test your mettle, test your reflexes, and see if you can survive the heart attack! Enter your name in the box below and click "Submit" and you will be placed in a waiting room until the game starts.</p>
                </section>

                <section class="panel form-panel">
                    <form action="/home" method="POST" class="player-input">
                        <label for="player_name" class="sr-only">Player name</label>
                        {% if error %}
                            <div class="error-message">{{ error }}</div>
                        {% endif %}
                        <input type="text" id="player_name" name="player_name" placeholder="Enter your name" maxlength="12" required>
                        <button type="submit" class="button button-primary">Submit</button>
                    </form>
                </section>
            </article>

            <aside>
                <div class="tab">Credits</div>

                <div class="aside-content">
                    <h3>Attribution:</h3>
                    <ul>
                        <li><a href="https://www.flaticon.com/free-icons/playing-cards" title="playing cards icons">Favicon by Md Tanvirul Haque</a></li>
                        <li><a href="https://www.instagram.com/reels/DUfa4L9Efe9/" title="Instagram Reel">Quote by "The Internet"</a></li>
                        <li><a href="https://stackoverflow.com/questions/12277933/send-data-from-a-textbox-into-flask" title="StackOverflow.com link">How to Send data from a textbox into Flask</a></li>
                    </ul>
                </div>
            </aside>
            
        </main>
        <footer id="footer">
            <small>E-mail: <a href="mailto:ScrumptiousBytes2026@gmail.com">ScrumptiousBytes2026@gmail.com</a></small>
            <small>&copy; ScrumptiousBytes 2026</small>
        </footer>
    </body>
</html>