<!-- pageTwo = """ -->

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Waiting Room</title>

        <style>
            body {background-color: #8c92ac;;}
            li   {color: #022658;}
            p    {color: #ffffffc9;}
        </style>
    </head>

    <body>
        <p>
            <strong>Players:</strong>
        </p>

        <ul id="playerList">
            {%for player in playerList%}                  <!--Jinja2 for loop-->
                <li>{{player}}</li>
            {%endfor%}
        </ul>

            <br><br><br>

            <h1>
                <button type="button" title="Start game once all players are in">
                    <strong>Start Game</strong>
                </button>
            </h1>
    </body>

    <script>
    </script>

</html> 

<!--"""-->

