<!-- pageTwo = """ -->

<!-- This is just a test file, I (David) copied it into the templates folder 
 from the main project directory to test if I could render it with Flask. It 
 is not the actual waiting room page, but it is a starting point for the 
 waiting room page. I will edit it later to make it look better and to add 
 more functionality. For now, it just displays the list of players in the 
 waiting room and a button to start the game. -->

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Waiting Room</title>

        <style>
            body {background-color: #8c92ac;;}
            li   {color: #022658;}
            p    {color: #ffffffc9;}
        </style>
    </head>

    <body>
        <p>
            <strong>Players:</strong>
        </p>

        <ul id="playerList">
            {%for player in playerList%}                  <!--Jinja2 for loop-->
                <li>{{player}}</li>
            {%endfor%}
        </ul>

            <br><br><br>

            <h1>
                <button type="button" title="Start game once all players are in">
                    <strong>Start Game</strong>
                </button>
            </h1>
    </body>

    <script>
    </script>

</html> 

<!--"""-->

